target/classes/munitdbmocking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
 <flow name="munitdbmockingFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/employees" doc:name="HTTP"/>
        <set-variable variableName="executionTimeStamp" value="#[(new Date()).toString()]" doc:name="Variable"/>
        <logger message="executionTimeStamp : #[flowVars.executionTimeStamp]" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="Generic_Database_Configuration" doc:name="Log to CALL_LOG table">
            <db:dynamic-query><![CDATA[INSERT INTO CALL_LOG (LOG_STRING) values ('executionTimeStamp: #[flowVars.executionTimeStamp]' )]]></db:dynamic-query>
        </db:insert>
        <logger message="Payload After Log to LOG_STRING table : #[payload]" level="INFO" doc:name="Logger"/>
        <db:select config-ref="Generic_Database_Configuration" doc:name="Get Employees">
            <db:dynamic-query><![CDATA[select * from employees]]></db:dynamic-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="Payload Get Employees: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
